.chords-selector-container{
    display: flex;
    height: 300px;
}

.box{
    border: solid 2px black;
    margin: 2px;
}

.list-in-box{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /*display: flex;*/
}

.chords{
    width: 50px;
    display:block;
    background-color: cadetblue;
    color: white;
}

.chords:hover{
    opacity: 0.8;
    color:inherit;
}

.available-chords{
    /*background-color:darkgray;*/
}

.selected-chords{
    /*background-color: darkslategray;*/
}

.two-columns{
    width: 50%;
}