.chords-selector-container{
    display: flex;
    align-items: stretch;
    width: 30%;
}

.box{
    border: solid 2px black;
    margin: 2px;
    overflow: auto;
    height: 500px;
}

.chords{
    width: 100%;
    display:block;
    background-color: cadetblue;
    color: white;
}

.chords:hover{
    opacity: 0.8;
    color:inherit;
}


.available-chords{
    white-space: nowrap;
}

.selected-chords{
    /*background-color: darkslategray;*/
}