@model ScaleFromChordsModel
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/Scalefromchords.css" rel="stylesheet" type="text/css" />

<h2>Scale from chords</h2>
<input id="filter-chords" onkeyup="filterChords()" type="text" placeholder="Filter"/>

<div class="chords-selector-container">

    <div class="col-sm-6">
        <h4>Available chords</h4>
        <div class="box available-chords">
            @foreach (var chord in Model.AvailableChords)
            {
                <button class="chords">@chord.ShortChordName</button>
            }
        </div>
    </div>

    <div class="col-sm-6">
        <h4>Selected chords</h4>        
        <div class="box selected-chords">
        </div>
    </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="~/Content/js/scalefromchords.js"></script>