@model ScaleFromChordsModel
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/Scalefromchords.css" rel="stylesheet" type="text/css" />

<h2>Scale from chords</h2>

@*@Html.DropDownList("chord-mode-select", EnumHelper.GetSelectList(typeof(MidiControllerProject.Library.Chords.ModeType)).Skip(1), null, new { @onChange = "populateChordsFromSeletedType()" })*@

<input id="filter-chords" onkeyup="filterChords()" type="text" placeholder="Filter"/>

<div class="chords-selector-container">
    <div style="height: 100%;">
        <h4>Available chords</h4>
        <div class="box available-chords">
           <ul class="list-in-box" id="chords-list">
                @foreach (var chord in Model.AvailableChords)
                {
                    <li><button class="chords">@chord.ShortChordName</button></li>
                }
            </ul>
        </div>
    </div>
    <div style="height: 100%;">
        <h4>Selected chords</h4>        
        <div class="box selected-chords">
        </div>
    </div>
</div>

<script src="~/Content/js/scalefromchords.js"></script>